// Margin for content below navbar
.main {
  margin-top: 70px;
  background-color: transparent;
  z-index: -1;
}

.padding-top-70 {
  padding-top: 70px
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Icon size home page
.icon-size {
  height: 80px;
}
.fullpage {
  height: 100vh;
}

.inline {
  display: inline-block;
  margin-right: 40px;
  margin-left:  40px;
  margin-top: 40px;
}

.bottomgroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bottombuttons {
  flex: 0 0 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
