// Margin for content below navbar
.main {
  margin-top: 70px;
  background-color: transparent;
  z-index: -1;
}

.padding-top-70 {
  padding-top: 70px
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Icon size home page
.icon-size {
  height: 80px;
}
