<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.armytimes.com/resizer/_bZZ6YXsG1MGMSfiJxzcMHnFgPM=/1200x0/filters:quality(100)/arc-anglerfish-arc2-prod-mco.s3.amazonaws.com/public/PY7W7JI5U5ACFMJIJKHSEDAVFY.jpg');">
  <div class="banner-content">
    <h1>Space BnB</h1>
    <p>Explore the galaxies with us /p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
