<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <div class="fullpage">
        <h1 class="text-center">Create a new review!</h1>

        <div class="wrapper-grey padded">
          <div class="container">
            <%= simple_form_for([@booking, @review]) do |f| %>
            <!-- [...] -->
            <%= f.input :content %>
            <%= f.input :stars %>
            <%= f.button :submit, :class => 'btn btn-primary text-center' %>
            <!-- [...] -->
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

