<h1>Reviews#new</h1>

<%= simple_form_for([@booking, @review]) do |f| %>
  <!-- [...] -->
  <%= f.input :content %>
  <%= f.input :stars %>
  <%= f.button :submit, :class => 'btn btn-primary' %>
  <!-- [...] -->
<% end %>
